
@import url('../vendor/normalize.css');
@import url('../blocks/header/header.css');
@import url('../blocks/lead/lead.css');
@import url('../blocks/intro/intro.css');
@import url('../blocks/photo-grid/photo-grid.css');
@import url('../blocks/places/places.css');
@import url('../blocks/video/video.css');
@import url('../blocks/comments/comments.css');
@import url('../blocks/cover/cover.css');
@import url('../blocks/footer/footer.css');
@import url('../fonts/Inter%20(web)/inter.css');

body {
    overflow-x: hidden;
}
a:hover {
    opacity: 0.8;
    
}

.page {
    width: 100vw;
    background: #2A2C2F;
    font-family: 'Inter';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #ffffff;
    margin: 0;
}
h2 {
    color: #ffffff;
    margin: 0;
}
h3 {
    color: #ffffff;
    margin: 0;
}
h4 {
    color: #ffffff;
    margin: 0;
}
p{
    color: #ffffff;
    margin: 0;
}
span {
    font-weight: bold;
}

.active {
    text-decoration-line: underline;
}

.content-title {
    width: 800px;
    margin-top: 102px;
    margin-bottom: 48px;
    
    font-family: Inter;
    font-size: 4.5rem;
    line-height: 4.87rem;
    text-align: center;
}

.content-subtitle {
    width: 640px;
    margin-bottom: 72px;

    font-family: Inter;
    font-size: 1.5rem;
    line-height: 34px;
    text-align: center;
}

.rect {
    background: #000000;
    opacity: 0.5;
    border-radius: 5px;
}




@media  screen and (min-width : 1024px) {

    .page {
       width: 100vw;
       overflow: hidden;
    }
}

@media (min-width : 768px) and (max-width : 1023px)  {

    .page {
        width: 100%;
    }

    .content-title {
        width: 720px;
        margin-top: 102px;
        margin-bottom: 24px;
        

        font-size: 42px;
        line-height: 46px;
    }

    .content-subtitle {
        width: 90vw;
        margin-bottom: 24px;
    }
    
}

@media (min-width : 375px) and (max-width : 767px)  {

    .page {
        width: 100%
    }

    .content-title {
        width: 343px;
        margin-top: 64px;
        margin-bottom: 16px;
        
        font-size: 32px;
        line-height: 35px;
    }

    .content-subtitle {
        width: 90vw;
        margin-bottom: 16px;

        font-size: 16px;
        line-height: 23px;

    }
}

@media (min-width : 320px) and (max-width : 374px) {
    .page {
        width: 100%
    }

    .content-title {
        width: 288px;
        margin-top: 64px;
        margin-bottom: 16px;
        
        font-size: 32px;
        line-height: 35px;
    }

    .content-subtitle {
        width: 90vw;
        margin-bottom: 16px;

        font-size: 16px;
        line-height: 23px;

    }
    
}



